<!-- Begin Supporters Section -->
<section id="supporters" class="supporters">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
           {% comment %} <h3>{{ site.supportersTitle }}</h3> {% endcomment %}
            {% for supporter in site.data.supporters %}
            <h5>{{ supporter.group }}</h5>
            <ul class="list-inline">
                {% for element in supporter.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <!-- <img src="{{ site.baseurl }}/img/supporters/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}"> -->
                         {{ element.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            {% if site.c4sponsorsUrl %}
            <a href="{{ site.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
            {% endif %}
        </div>
    </div> 
</section>
<!-- End Supporters Section -->
